body {margin:0;}
h1 {
    background: cornflowerblue;
    text-align: center;
    margin:0;
}
nav {
    background: aliceblue;
    width: 20em;
    margin-left: -17em;
}
nav:hover {
    margin-left: 0em;
}
nav ul{
    padding-left:25px;
} 
img {
    width:250px;
    border:5px solid blue;
    padding:7px;
}
table { 
    border-collapse: collapse;
}
tr:nth-child(odd) {background-color: azure;}
th,td {
    border : 2px solid darkblue;
    padding: 10px;
}
th {background-color: aquamarine;}
article {margin-left:40px;}
footer {background: aliceblue;}
footer p {margin-bottom: 0;}
